.header {
     color: palevioletred;
     font-family;
     text-align: center;
}

h1 {
    color: purple;
    font-size: large;
    text-align: center;
}
p{
color:darkcyan
}

nav{
    color: cadetblue;
}
